@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.brickheadz {
  .container {
    max-width: 700px;
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-sm6;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  img {
    max-width: 325px;
    text-align: center;
  }
}
